@import url(main.css);

body{
    background-image: none;
    font-family: "Gilman", sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-indent: 40px;
}

.navbar{
    background-color: black;
}

.page-container{
    text-align: center;
    align-items: center;
}

.about-us-container {
    width: auto;
    position: relative;
}

.main-text{
    text-transform: uppercase;
}

.img-fluid{
    background-color: black;
}

.video{
    width: 25%; 
    height: auto;
}

.signature{
    background-image: linear-gradient(red, yellow);
}
