@import url(main.css);

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    width: 80vw;
    height: 70vh;
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
}

.product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.product-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
}

.product-name {
    font-size: 1.5rem;
    color: #b38f00;
    text-decoration: none;
    font-weight: 600; 
}

.product-name:hover {
    color: #d4af37;
}

.product-description {
    margin: 5px 0;
    font-size: 1rem;
    color: #dddddd;
    font-weight: 300; 
}

.product-unit,
.product-category {
    display: block;
    font-size: 0.9rem;
    color: #aaaaaa;
    margin-top: 5px;
    font-weight: 400; 
}
