@import url(main.css);

body{
    overflow: hidden;
    font-family: 'Gilam', sans-serif;
}

.news-container{
    max-width: 1000px;
    max-height: 80vh;
    margin: 40px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    overflow-y: auto;
    text-align: center;
}

.news-description{
    color: white;
}

h1 {
    font-size: 3rem;
    color: #b38f00;
    text-align: center;
    margin-bottom: 20px;
}

.back-link {
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
    color: #b38f00;
    text-decoration: none;
    transition: color 0.3s ease;
}
