.card-img-top {
    height: 150px;
    object-fit: contain; 
}

.header {
    text-align: center;
    margin-top: 20px;
}

.logo {
    max-width: 200px;
    height: auto;
}

/* Стили для баннера */
.banner {
    margin: 20px auto;
    width: 100%;
}

.banner-slider {
    display: flex;
    width: 100%; /* Убедитесь, что ширина 100% */
}

.banner-slider img {
    width: 300px; /* Заставить изображение занимать всю ширину экрана */
    flex-shrink: 0; /* Запретить сжатие изображения */
    max-height: 300px; /* Максимальная высота изображения */
    object-fit: cover; /* Сохранить пропорции изображения */
}
