<!DOCTYPE html>
{%load static%}
<link rel="stylesheet" href="{% static 'css/navbar_style.css' %}">
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/" class="logo-link">
                <img src="{% static "general_images/logo.png" %}" alt="Company Logo" class="logo">
            </a>
            <a href="/" class="company-name">PRODUCTCITY</a>
            <a href="/about-us" class="about-link">ABOUT US</a>
        </div>

        <div class="navbar-links">
            <a href="/vacancies">CAREERS</a>
            <a href="/reviews">REVIEWS</a>
            <a href="/news">NEWS</a>
            <a href="/conf">POLICY</a>
            <a href="/faq">FAQ</a>
            <a href="/coupons">COUPONS</a>
            <a href="/contact">CONTACTS</a>
        </div>

        <div class="navbar-right">
            <div class="account-dropdown">
                <span class="account-toggle">ACCOUNT</span>
                <div class="dropdown-menu">
                    <a href="/login">LOGIN</a>
                    <a href="/register">CREATE ACCOUNT</a>
                </div>
            </div>
        </div>


    </nav>
</body>