{% extends "base.html" %}
{% load static %}
{%block title %} About Us {%endblock%}
{% block content %}
<style>
    .certificate {
    width: 600px;
    padding: 20px;
    left: 32%;
    position: relative;
    text-align: center;
    border: 20px solid transparent; 
    border-image-source: url("{% static 'general_images/bel.jpg' %}"); 
    border-image-slice: 30; 
    border-image-width: 20px; 
    border-image-outset: 0;
    border-image-repeat: stretch;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

</style>
<link rel="stylesheet" href="{% static "css/about_style.css" %}">

    <div class="page-container">
        <div class="about-us-container">
            <h1 class="main-text">About "productcity"</h1>
            <div class="text-center mb-4">
                {% if about_us.logo %}
                    <img src="{{ about_us.logo.url }}" alt="Logo" class="img-fluid" style="max-width: 200px;">
                {% endif %}
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>About</h4>
            </div>
            <div class="card-body" style="line-height: 25px;">
                <p>{{ about_us.information }}</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Company history</h4>
            </div>
            <div class="card-body">
                <p>{{ about_us.history }}</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Details</h4>
            </div>
            <div class="card-body">
                <pre>{{ about_us.details }}</pre>
            </div>
        </div>

        <div class="certificate">
            <h1>Сертификат</h1>
            <h2>Выданный компании PRODUCTCITY</h2>
            <p>Настоящим подтверждается, что</p>
            <p><strong>PRODUCTCITY</strong></p>
            <p>является обладателем этого сертификата.</p>
            <p>Выдано от Президента мира</p>
            <div class="signature">
                ______________________<br>
                Подпись Президента
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4>Video</h4>
            </div>
            <div class="card-body">
                {% if about_us.video %}
                    <video controls class="video" >
                        <source src="{{ about_us.video.url }}" type="video/mp4"> 
                        Your browser doesn't suppor videos.
                    </video>
                {% else %}
                    <p>No video.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}