{% extends "base.html" %}
{% load static %}
{%block title %} About Us {%endblock%}
{% block content %}
<link rel="stylesheet" href="{% static "css/policy_style.css" %}">
<h1>Empty for now</h1>
<h1>Clever thought:</h1>
<q lang="en">{{quote_text}}</q>
<blockquote lang="ru">
    Каждый из нас понимает очевидную вещь: социально-экономическое развитие позволяет выполнить важные задания по разработке укрепления моральных ценностей. Имеется спорная точка зрения, гласящая примерно следующее: реплицированные с зарубежных источников, современные исследования и по сей день остаются уделом либералов, которые жаждут быть своевременно верифицированы. Имеется спорная точка зрения, гласящая примерно следующее: некоторые особенности внутренней политики лишь добавляют фракционных разногласий и ограничены исключительно образом мышления. Противоположная точка зрения подразумевает, что ключевые особенности структуры проекта и по сей день остаются уделом либералов, которые жаждут быть описаны максимально подробно. Имеется спорная точка зрения, гласящая примерно следующее: явные признаки победы институционализации превращены в посмешище, хотя само их существование приносит несомненную пользу обществу!
</blockquote>
{% endblock %}