{% extends "base.html" %}
{% load static %}
{%block title %} Contact {%endblock%}
{% block content %}
<link rel="stylesheet" href="{% static "css/contact_style.css" %}">

<h1>Contact List</h1>
<div class="contact-container">
    <ul class="contact-list">
        {% for contact in contacts %}
            <li class="contact-item">
                <img src="{{ contact.image.url }}" alt="{{ contact.title }}" class="contact-image">
                <div class="contact-details">
                    <p>Title: {{ contact.title }}</p>
                    <p>Description: {{ contact.description }}</p>
                    <p>Phone Number: {{ contact.phone_number }}</p>
                    <p>Email: {{ contact.email }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>



{%endblock%}