{% extends "base.html" %}
{% load static %}
{%block title %} About Us {%endblock%}
{% block content %}
<body>
    <h1>Active Coupons</h1>
    <ul>
        {% for coupon in active_coupons %}
            <li>{{ coupon.title }} - {{ coupon.description }} - {{ coupon.number }}</li>
        {% endfor %}
    </ul>

    <h1>Archive</h1>
    <ul>
        {% for coupon in inactive_coupons %}
            <li>{{ coupon.title }} - {{ coupon.description }} - {{ coupon.number }}</li>
        {% endfor %}
    </ul>
</body>
</html>
{%endblock%}