{% extends "base.html" %}
{% load static %}
{%block title %} About Us {%endblock%}
{% block content %}
<style>
    body {
        font-family: 'Gilman', sans-serif;
        background-color: #f7f9fc;
    }

    h1 {
        color: black;
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        font-size: 20px;
        font-weight: bold;
    }

    li:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
</style>

<body>
    <h1>Active Coupons</h1>
    <ul>
        {% for coupon in active_coupons %}
            <li>{{ coupon.title }} - {{ coupon.description }} - {{ coupon.number }}</li>
        {% endfor %}
    </ul>

    <h1>Archive</h1>
    <ul>
        {% for coupon in inactive_coupons %}
            <li>{{ coupon.title }} - {{ coupon.description }} - {{ coupon.number }}</li>
        {% endfor %}
    </ul>
</body>
</html>
{%endblock%}