{% extends "base.html" %}
{% load static %}
{%block title %} About Us {%endblock%}
{% block content %}
<body>
    <h1>Create Order</h1>
    <ul>
        {% for cart_item in cart_items %}
            <li>
                <p>{{ cart_item.product.name }}</p>
                <p>Price: {{ cart_item.product.price }}</p>
                <p>Quantity: {{ cart_item.quantity }}</p>
            </li>
        {% endfor %}
    </ul>
    
    <p>Total Payment: ${{ total_payment }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Place Order</button>
    </form>
</body>
</html>
{%endblock%}