{% extends "base.html" %}
{% load static %}
{%block title %} News {%endblock%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/news_style.css' %}">
<head>
    <script src="{%static 'js/news.js'%}"></script>
</head>
<body onload="selectNews(1)">
    <div class="page-container">
        <aside class="news-container">
            <ul class="news-list">
                {% for new in news_list %}
                    <li class="news-item" onclick="selectNews({{new.id}})" data-title="{{new.title}}"
                                            data-image="{{new.image.url}}"
                                            data-description="{{new.short_description}}">
                        <p class="news-title">{{ new.title }}</p>
                    </li>
                {% endfor %}
            </ul>
        </aside>
        <main class="news-details">
            <h1 id="details-title"></h1>
            <p id="details-description"></p>
            <a class="details-link" id="details-link">Read All</a>
            <img class="details-image" id="details-image" src="" alt="Image">
        </main>
    </div>
</body>
{%endblock%}