<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ news_item.title }}</title>
    </head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <div class="text-center">
            <h1>{{ news_item.title }}</h1>
            <img src="{{ news_item.image.url }}" class="img-fluid my-4" alt="{{ news_item.title }}">
            <p>{{ news_item.description }}</p>
            <a href="{% url 'news' %}" class="btn btn-secondary mt-4">Back to news</a>
        </div>
    </div>
</body>
</html>
