{% extends "base.html" %}
{% load static %}
{%block title %} News {%endblock%}
{% block content %}
<body>
    <h1>News List</h1>
    {% for news in news_list %}
        <div class="news-item">
            <div class="news-details">
                <h2>{{ news.title }}</h2>
                <p>{{ news.short_description }}... <a href = "{% url 'news_detailed' news.id %}">read in details</a></p>
            </div>
            <img src="{{ news.image.url }}" alt="{{ news.title }}" class="news-image">
        </div>
    {% endfor %}
</body>
{%endblock%}