{% extends "base.html" %}
{% load static %}
{% block title %} Details {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product_style.css' %}">
<body>
    <div class="product-container">
        <h1>{{ product.name }}</h1>
        <div class="product-info">
            <p>Description: {{ product.description }}</p>
            <p>Price: {{ product.price }}</p>
            <p>Unit: {{ product.get_unit_display }}</p>
            <p>Category: {{ product.get_category_display }}</p>
            <p>Amount available: {{ product.amount }}</p>
        </div>
        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <button type="submit">
                <img src="{% static 'general_images/cart.png' %}" alt="Add to Cart">
                Add to Cart
            </button>
        </form>
        <a class="back-link" href="{% url 'home' %}">Back to Products</a>
    </div>
</body>
{% endblock %}
