{% extends "base.html" %}
{% load static %}
{%block title %} About Us {%endblock%}
{% block content %}
<body>
    <div class="container mt-5">
        <h1>Job List</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Description</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.description }}</td>
                    <td>{{ job.salary }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{%endblock%}