{% extends "base.html" %}
{% load static %}
{%block title %} CAREERS {%endblock%}
{% block content %}
<link rel="stylesheet" href="{%static 'css/vacancies_style.css' %}">
<body>
    <div class="job-container">
        <h1>Vacancies</h1>
        <div class="job-list">
            {% for job in jobs %}
            <div class="job-card">
                <h2 class="job-title">{{ job.title }}</h2>
                <p class="job-description">{{ job.description }}</p>
                <p class="job-salary">Salary: <span>{{ job.salary }}</span></p>
            </div>
            {% endfor %}
        </div>
        <div style="clear: both;"></div>
    </div>
</body>
{%endblock%}